version=0.26.2

profile=conventional

wrap-comments=true
wrap-fun-args=true
break-infix=fit-or-vertical
break-separators=after
break-fun-decl=wrap
break-fun-sig=wrap
break-collection-expressions=fit-or-vertical

doc-comments=before-except-val

indicate-multiline-delimiters=space
indicate-nested-or-patterns=unsafe-no

type-decl=compact
if-then-else=compact

max-indent=2
margin=80
